<div class="has-text-centered">
  <h1 class="title">Customers With Missing Email</h1>
</div>
<div class="has-text-centered">
  <%= link_to "View All Customers", root_path %>
  <span style="margin: 0 0.5em; color: gray;">|</span>
  <%= link_to "View Alphabetical List", alphabetized_customers_path %>
</div>

<%= render @customers %>
